/*Homepage Style*/

.back-office {
    font-size: 0.7em;
    background-color: gray;
    border: none;
    border-radius: 50px;
    height: fit-content;
    width: fit-content;
}

.back-office:hover {
    background-color: rgb(20, 20, 20);
}

/*Card*/

.card {
    border-radius: 30px;
    height: fit-content;
}

.card-image{
    width: 100%;
    height: 40%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-title {
    font-size: 1.7em;
    font-weight: bold;
}

.card-text {
    color: grey;
    font-style: italic;
}

.card-brand {
    font-weight: bold;
}

.card-body .btn {
    border-radius: 40px;
    font-size: 0.9em;
    height: fit-content;
}

/*Item Management Style*/

.item-form {
    background-color: rgba(128, 128, 128, 0.177);
    border-radius: 50px;
    padding-left: 3%;
    padding-top: 3%;
}

.form-button {
    border: none;
    border-radius: 50px;
    padding: 1% 2%;
    width: fit-content;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgb(199, 199, 199);
    color: white;
}

.form-button:hover {
    background-color: green;
}

/*Details Style*/

.details-main {
    height: 70vh;
}

.detail-image {
    width: 100%;
    height: auto;
}

.detail-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detail-name {
    font-size: 2em;
    font-weight: bold;
}

.detail-brand {
    font-size: 1.3em;
    font-weight: 600;
}

.detail-price {
    color: gray;
    font-style: italic;
}

